- var photographer = require('app').photographer;
.misc-popup.contact
  .bg
  .box
    .scroller
      .misc-content
        h1= photographer.name
        .contact-links
          if photographer.phone
            a.phone(href="tel:"+photographer.phone)= photographer.phone
          if photographer.email
            a.email(href="mailto:"+photographer.email)= photographer.email
          if photographer.website_url
            a.website_url(href=photographer.website_url, target='_blank')
              = photographer.website_url.replace(/^https?:\/\//i, '')
        form.contact-form
          input.name(type="text", name="name", placeholder="Your name...")
          input.email(type="email", name="email", placeholder="Your email address...")
          textarea.message(name="message", placeholder="Your message...")
        
    .foot
      .button.cancel.large!= lz('Close')
      .button.save.large.highlighted.with-loader
        != lz('Send Email')
        .loader.small.white
      .success-message!= lz('Email Sent')
