.buy-form
  .options-wrapper
    .scroller
      .options
  .summary
    .total
      .make-default 
        .checkbox 
        | #{language.elm['Save this as my default set']}
      div #{language.elm['Total']}: 
      .total-price
    .buttons
      //- .left-buttons
      .button.cancel #{language.elm['Cancel']}
      .right-buttons
        .button.remove #{language.elm['Remove From Cart']}
        .button.save #{language.elm['Add To Cart']}
