.buy-form: .buy-form-content
  .options-wrapper
    .scroller
      .products-head 
        .button.light.add-product!= lz("Add album or product")
      .products-prints
      .options
  .summary
    .total
      .make-default 
        .checkbox 
        span.default-short!= lz('Save as default')
        span.default-long!= lz('Save this as my default set')
      div!= lz('Total:') +' '
      .total-price
    .buttons
      //- .left-buttons
      .button.cancel!= lz('Cancel')
      .right-buttons
        .button.remove!= lz('Remove From Cart')
        .button.add!= lz('Add To Cart')
        .button.save!= lz('Save')
