- var ua = require('app/utils/ua');
- var classes = [];
- if (model.no_qty) classes.push('no-qty');
.purchase-option(class=classes)
  .head
    .name
      span.short-name= model.display_name
      span.full-name= model.display_name
      if model.description
        .info
    if model.width && model.height
      //- .crop(title="Adjust Crop")
      //- .crop(title="Click to adjust crop", style="background-image:url("+ photo.model.thumb_url +")")
      .crop(style="background-image:url("+ photo.model.img_url +")")
        .crop-tip!= lz('Click to adjust crop')
        .crop-covers
          .crop-cover.top
          .crop-cover.right
          .crop-cover.bottom
          .crop-cover.left
    .price.single= model.display_price
    if !model.no_qty
      .qty
        //- input(type= ua.mobile ? "number" : "text", name="qty", value="0")
        input(type="number", name="qty", value="0")
        .minus
        .plus
    else
      .checkbox
    .price.final= model.formatMoney(0)
  .addons
