- var app = require('app');
- var size;
.product-option
  .head
    .name
      span.short-name= model.name
      if model.description
        .tip
    .price.single= model.display_price
    if !model.no_qty
      .qty
        //- input(type= ua.mobile ? "number" : "text", name="qty", value="0")
        input(type="number", name="qty", value="0")
        .minus
        .plus
    else
      .checkbox
    .price.final= model.formatMoney(0)
  .wrap
    //- if model.description
      .description= model.description
    if model.allow_notes
      .notes
        //- p!= lz("Add notes or instructions (optional):")
        textarea(placeholder="Add notes or instructions (optional)")
    if model.required_size_list.length
      .sizes
        //- .info!= lz("After adding this product to your cart, the following items must be added to the product before you will be able to checkout:")
        .sizes-label
          != lz("Holds following images:")
          .tip
        table
          tr
            th!= lz('Qty')
            th!= lz('Size')
          each size in model.required_size_list.models
            - realSize = app.purchaseOptions.get(size.id);
            tr(data-size-id=size.id)
              td.qty!= size.type === 'exactly' ? size.qty : lz('Up to %d', size.qty)
              td.name
                if (realSize.width && realSize.height || realSize.additional_size_list.length)
                  = realSize.name
                else
                  !=lz('Any size')
                if realSize.description
                  .info
