- var app = require('app');
- var ua = require('app/utils/ua');
- var nl = model.name.length;
- var titleClass = nl >= 35 ? 'long-'+ Math.min(10, Math.floor((nl-25) / 10)) : '';
//- - app.storage.cropTipUsed = '';
.lightbox-photo
  .images
    .img
      .loader.white
      if app.loadedImages[model.thumb_url]
        .thumb(style="background-image:url("+ model.thumb_url +")")
      //- .full-img(style="background-image:url("+ model.url +")")
      img(src= model.img_url)
      .borders
        
      .crop-covers
        .crop-cover.top
        .crop-cover.right
        .crop-cover.bottom
        .crop-cover.left
      
      .crop-handle.top-left
      .crop-handle.top-right
      .crop-handle.bottom-left
      .crop-handle.bottom-right
        
      .crop-controls.top
        //- .button.reset!= lz('Reset')
        .button.rotate
          span.size
          .spinner
          span.label!= lz('Rotate')
        
      .crop-controls.bottom
        .button.reset!= lz('Reset')
        //- .button.cancel!= lz('Cancel')
        .button.save!= lz('OK')
      
      if !app.storage.cropTipUsed && ua.desktop
        .crop-tips
          .crop-tip!= lz(ua.desktop ? '$crop-tips-desktop' : '$crop-tips-mobile')
    if model.name
      .title(class= titleClass): .text= model.name 
  .actions
    .action.cart: .tip!= lz('Buy Image')
    .action.fav: .tip!= lz('Add To Favorites')
    if model.download_url
      a.action.download(href= model.download_url, target="_blank", bypass)
        .tip!= lz('Download')
    .action.share: .tip!= lz('Share')
    .action.variants: .tip!= lz('Variants')
    
  .lightbox-photo-cover
