- var app = require('app');
- var ua = require('app/utils/ua');
- var nl = model.name.length;
- var titleClass = nl >= 35 ? 'long-'+ Math.min(10, Math.floor((nl-25) / 10)) : '';
//- - app.storage.cropTipUsed = '';
.product-lightbox-photo
  .images
    .img
      .loader.white
      if app.loadedImages[model.thumb_url]
        .thumb(style="background-image:url("+ model.thumb_url +")")
      //- .full-img(style="background-image:url("+ model.url +")")
      img(src= model.img_url)
      .borders
      
    if model.name
      .title(class= titleClass): .text= model.name
  .product-buy-form
    .description
      .title= model.name
      .price!= lz('price')
      .cart
    .note
      .text!= lz('Add Note/Instruction for This Item (optional):')
      .textarea.field
    .quantity
      .text!= lz('Quantity:')
      .value
    .print
      .text!= lz('Print Size:')
      .value!= lz('Photo Album Image')
  .buttons
      //- .left-buttons
      .button.cancel!= lz('Return to Browsing')
      .button.add!= lz('Add To Cart')
    
  .lightbox-photo-cover
