- var app = require('app');
.cart-photo-item
  .left
    .td.name= model.size.display_name
    .td.extras 
      .extras-list
      .no-extras!= lz('No options selected')
      //- .crop-thumb
      //- if model.addons
        each addon_oid, aid in model.addons
          - addon = app.purchaseAddons.get(aid);
          .extra= addon.getName(addon_oid)
          //- .extra Deep Matte Paper
  .right
    .td.quantity
      if !model.size.no_qty
        .qty
          input(type="number", name="qty", value= model.qty)
          .minus
          .plus
      //- else
        .no-qty 1
    .td.price $1.10
    .td.actions
      .action.remove
        .popover.left!= lz("Remove this item from cart")
    .removed-buttons
      .button.light.restore!= lz('Restore')
      .button.light.hide!= lz('Clear')
