.event-category
  .heading
    //- a.label(href="#categories/"+ model.id)
    .line
    .label(data-hook='category-name')= model && model.name
    .line
      //- small= 'View all '+ model.img_count +' images'
  a.category-slideshow #{language.elm[5]}
  .photos
  .load-more
    .label #{language.elm[6]}
    .loader
  //- .heading.siblings
    a.label(data-hook='prev-category')
      span
      small #{language.elm[40]}
    .line
    a.label(data-hook='next-category')
      span
      small #{language.elm[41]}