.page.events.complete.reloading.inactive: .page-scroller: .page-scroll
  .page-content
    .content 
      .header
        .filters: .inner
          a.showcased(href="#", data-filter="showcased") #{language.elm['Showcased']}<i> #{language.elm['Events']}</i>
          a.current(href="#", data-filter="current") #{language.elm['Current']}
          a.upcoming(href="#", data-filter="upcoming") #{language.elm['Upcoming']}
          a.all.active(href="#", data-filter="all") #{language.elm['All']}<i class="all"> #{language.elm['Events']}</i>
        .sorting: .inner
          span #{language.elm['Sort events by']}:
          a.name(href="#", data-sort="name") <i>#{language.elm['Event']} </i>#{language.elm['Name']}
          a.date.active(href="#", data-sort="date") <i>#{language.elm['Event']} </i>#{language.elm['Date']}
          a.type(href="#", data-sort="type") <i>#{language.elm['Event']} </i>#{language.elm['Type']}
        .clear
        .label
          .icon
          .loader.grey-bg
      .events-list
      .load-more
        .label #{language.elm['Load More Events']}
        .loader
        
  .page-footer
  //- include ../footer.jade
  
