.grid-photo
  .image
    //- img(src= model.thumb_url)
  //- .image(style="background-image:url("+ model.thumb_url +")")
  .fill.borders
  .overlay
    a.view-large(href= model.app_url)
      span #{language.elm[7]}
    .icons
      .icon.cart: .tip #{language.elm[8]}
      //- .icon.cart: .tip #{language.elm[39]}
      .icon.fav: .tip #{language.elm[38]}
      //- .icon.fav: .tip #{language.elm[37]}
      if model.download
        a.icon.download(href= model.url, target="_blank", bypass): .tip Download
      //- .icon.hide: .tip #{language.elm[36]}
      .icon.share: .tip  #{language.elm[11]}
  //- .image
  
