.event-product
  .heading
    //- a.label(href="#product/"+ model.id)
    .line
    .label(data-hook='product-name')= model && model.name
    .line
      //- small= 'View all '+ model.img_count +' images'
  a.product-slideshow  #{language.elm[5]}
  .photos
  .load-more
    .label  #{language.elm[6]}
    .loader
  //- .heading.siblings
    a.label(data-hook='prev-product')
      span
      small  #{language.elm[34]}
    .line
    a.label(data-hook='next-product')
      span
      small  #{language.elm[35]}
